/* .page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-lg) var(--spacing-md);
  background-image: repeating-linear-gradient(
    90deg,
    var(--invite-frame-light) 0px,
    var(--invite-frame-light) 65px,
    var(--invite-frame-dark) 65px,
    var(--invite-frame-dark) 80px
  );
  background-image: url('../../assets/bg.jpg');
}

.scroll {
  width: 100%;
  max-width: 860px;
  background-color: var(--invite-bg);
  border: 18px solid var(--invite-frame);
  box-shadow: 0 40px 120px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-lg);
} */

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-lg) var(--spacing-md);
  position: relative;
  overflow: hidden;
}

.page::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('../../assets/bg6.png');
  /* background-size: cover;
  background-position: center; */
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 100% auto;
  filter: blur(4px) brightness(1.1);
  transform: scale(1.05);
  z-index: 0;
}

.scroll {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 860px;
  background-color: var(--invite-bg);
  border: 18px solid var(--invite-frame);
  box-shadow: 0 40px 120px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-lg);
}

@media (max-width: 860px) {
  .page {
    padding: var(--spacing-md) var(--spacing-sm);
  }

  .scroll {
    border-width: 8px;
    padding: var(--spacing-md) var(--spacing-sm);
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .scroll {
    border-width: 6px;
    padding: var(--spacing-sm);
  }
}

